html {
    display: flex;
    justify-content: center;
    text-align: center;
    background: lightblue;
    height: 100vh;
    overflow: hidden;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 14px;
}

h2 {
    font-size: 2.5rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

#backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/games/backgrounds/blue1.jpg");
    border: 6px solid black;
    width: 100%;
    height: 80%;
}

#game {
    display: block;
    width: 60%;
    height: 70%;
    background: #0077b6;
    border: 5px solid black;
    border-radius: 20px;
    color: white;
}

input, button {
    font-size: 2rem;
    width: 40%;
    height: 20%;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    text-align: center;
}

button:hover {
    color: white;
    background: black;
}

#footer {
    margin-top: 6px;
}

#response, #count {
    margin: 10px;
    font-size: 2rem;
}

a {
    padding: 0 1px 0 1px;
}

