* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 14px;
}

#backdrop {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(4, 25%);
    background: black;
    border: 6px solid black;
    height: 80%;
}

button {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-style: double;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: white; 
    mix-blend-mode: difference;
}

#footer {
    margin-top: 6px;
}


